.headerContainer{
    background-color: rgb(194, 141, 6);
    color: rgb(250, 249, 249);
    display: flex;
   
}
.logo h1 a{
    font-size:25px;
    margin-left: 50px;
}
ul{
    display: flex;
    padding:18px;  

}
li{
    list-style: none;
    
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin:10px;
    font-size: 20px;
   
    
}
.menuList{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    margin: 0 auto;
 
    
}
@media(max-width: 760px){
 .logo h1 a{
    font-size:20px;
    margin-left:-50px;
 }
 ul li a {
    font-size: 15px;
 }
}