.serviceContainer {
    text-align: center;
}
.serviceContainer h1 {
       color:rgb(231, 168, 7);
}
.serviceCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border:1px solid rgb(255, 185, 7);;
    margin: 10px;
    padding: 25px 20px;
    border-radius: 12px;
  background-color: rgba(41, 40, 40, 0.432);
}

.card h3 {
    color: rgb(255, 185, 7);
}

.card p {
    color: rgb(51, 48, 48);
    font-size: 12px;
}
img{
    width: 150px;
    border-radius: 10px;
}